---
import Layout from "../layouts/Layout.astro";
import SideBar from "../components/SideBar.svelte";
import Ramo from "../components/Ramo.svelte";
---

<Layout title="Calculadora de Notas">
    <div class="flex flex-col gap-4 p-4">
        <SideBar client:load class="z-0" />
        <Ramo client:load class="z-10" />
    </div>
</Layout>
