---
import Layout from '../layouts/Layout.astro';
import Calculadora from '../components/Calculadora.svelte';
import Ramo from '../components/Ramo.svelte';
---
<Layout title='Calculadora de Notas'>
        <div class="m-2">
                
                <Calculadora client:load/>
                <Ramo client:load/>
        </div>
</Layout>