---
import Layout from "../layouts/Layout.astro";
import Calculadora from "../components/Calculadora.svelte";
import Ramo from "../components/Ramo.svelte";
---

<Layout title="Calculadora de Notas">
    <div class="p-4 flex flex-col gap-4">
        <Calculadora client:load class="z-0" />
        <Ramo client:load class="z-10" />
    </div>
</Layout>
